{% extends "layout.html" %}

{% block content %} <!--the unique text of this file -->
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Discover places near you.</h2> <!--title-->
        <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
        <a href="{{ url_for('login') }}" class="btn-secondary">Log in</a> <!--button1 & 2-->
        <a href="{{ url_for('about') }}" class="btn-third">Learn more</a>
      </div>

      <div class="section-device">
        <img src="static/image/yo.jpg"> <!--image of map-->
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
