<!DOCTYPE html>
<!--template for most of my html files-->
  <html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600'rel='stylesheet'>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel ="stylesheet"> <!--flask function URL4 generates a url for the css file-->
    </head>
    <body>
      <header>
        <div class="container">
          <h1 class="title">Learning Flask</h1> <!-- title of page-->
        </div>
      </header>

      {% block content %} <!--used to denote where most of the unique page code goes-->
      {% endblock %}

    </body>
  </html>
